@model Web.Models.MenuTypesViewModel

<div class="row">

    @Html.Partial("~/Views/Shared/_PaginationFormPartial.cshtml", new Web.Models.PaginationPartialModel { Pagination = Model.Pagination, Url = Url.Action("MenuTypes","Branch") })

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2><i class="fa fa-tags"></i> Menü Tipleri <small>@DateTime.Now.ToLongDateString()</small></h2>
                <div class="nav navbar-right panel_toolbox">
                    <button data-toggle="modal"
                            data-target="#modal-create-menutype"
                            class="btn btn-xs btn-primary">
                        <i class="fa fa-plus-circle"></i> Menü Tipi Ekle
                    </button>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div id="datatable-responsive_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="datatable-responsive_length">
                                @Html.Partial("~/Views/Shared/_ShownDataCountPartial.cshtml", Model.Pagination.Top)
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="col-sm-6">
                                <div id="datatable-responsive_filter" class="dataTables_filter">
                                    @Html.Partial("~/Views/Shared/_SearchAreaPartial.cshtml", "Menü tipi adı")
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" cellspacing="0" width="100%" role="grid" aria-describedby="datatable-responsive_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        @Html.Partial("~/Views/Shared/_SortPartial.cshtml", new Web.Models.SortPartialModel { Action = "MenuTypes", Controller = "Branch", ColumnName = "Menü Tipi", Pagination = Model.Pagination})
                                        <th class="text-center"> Güncelle</th>
                                        <th class="text-center">Sil</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @Html.Partial("~/Views/Shared/_NoDataFoundPartial.cshtml", new int[] { Model.MenuTypes.Count, 3 })

                                    @{ int k = 0;}
                                    
                                    @foreach (var item in Model.MenuTypes)
                                    {
                                        <tr id="row_@k" role="row" class="@(k % 2 == 0 ? "even" : "odd") text-center">
                                            <td>@item.Name</td>
                                            <td>
                                                <button onclick="fillUpdateForm('@item.Id', '@item.Name')" class="btn btn-xs btn-primary"><i class="fa fa-refresh"></i> Güncelle</button>
                                            </td>
                                            <td>
                                                <button onclick="$('#delete-id').val('@item.Id'); $('#row-id').val('@k')"
                                                        data-toggle="modal" data-target="#modal-delete-confirm"
                                                        type="button" class="btn btn-danger btn-xs">
                                                    <i class="fa fa-trash"></i> Sil
                                                </button>
                                            </td>
                                        </tr>
                                        k++;
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row text-center">
                        @Html.Partial("~/Views/Shared/_PaginationPartial.cshtml", Model.Pagination)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="modal-create-menutype" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><i class="fa fa-tags"></i> Menü Tipi Oluştur</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br>
                                <form id="demo-form32" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="menutype-name">
                                            Menü Tipi adı
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="text" id="menutype-name" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Kapat</button>
                                            <button onclick="createMenuType()" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Kaydet</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-update-menutype" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2><i class="fa fa-tags"></i> Menü Tipi Güncelle</h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br>
                                <form id="demo-form332" data-parsley-validate="" class="form-horizontal form-label-left" novalidate="">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="menutype-update-name">
                                            Menü Tipi adı
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input type="hidden" id="menutype-update-id" />
                                            <input type="text" id="menutype-update-name" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-close"></i> Kapat</button>
                                            <button onclick="updateMenuType()" type="button" class="btn btn-primary"><i class="fa fa-save"></i> Kaydet</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Shared/_DeleteConfirmPartial.cshtml", Url.Action("DeleteMenuType", "Branch"))

<!-- Scripts -->
<script>
    function fillUpdateForm(id, name)
    {
        $('#menutype-update-id').val(id);
        $('#menutype-update-name').val(name);

        $('#modal-update-menutype').modal();

    }

    function deleteMenuType() {
        var menuTypeId = $('#delete-id').val();

         if (menuTypeId === "" || menuTypeId === null || typeof menuTypeId === "undefined") {
            toastr.error('Geçersiz kimlik');
            return;
        }

        $.post({
            url: '@Url.Action("DeleteMenuType", "Branch")',
            data: { menuTypeId },
            complete: function (xhr) {
                if (xhr.status === 200) {
                    toastr.options.onHidden = function () { window.location.reload(); };
                    toastr.success(xhr.responseText);
                }
            },
            error: function (xhr) {
                if (xhr.status === 400) { toastr.error(xhr.responseText); }
            }
        });
    }
    function updateMenuType() {

        var Name = $('#menutype-update-name').val();
        var Id = $('#menutype-update-id').val();

        if (Id === "") {
            toastr.error('Geçersiz kimlik');
            return;
        }

         if (Name === "") {
            toastr.error('Menü tipi adı boş bırakılamaz');
             return;
         }

         var data = new FormData();
         data.append('mtName', Name);
         data.append('mtId', Id);

         jQuery.ajax({
            url: '@Url.Action("UpdateMenuType","Branch")',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',
            type: 'POST', // For jQuery < 1.9
            complete: function (xhr) {
                if (xhr.status === 200) {
                    toastr.options.onHidden = function () { window.location.reload(); };
                    $('#modal-update-menutype').modal('toggle');
                    toastr.success(xhr.responseText);
                }
            },
            error: function (xhr) {
                if (xhr.status === 400) {
                    toastr.error(xhr.responseText);
                }
            }
        });
    }

     function createMenuType() {

         var Name = $('#menutype-name').val();

         if (Name === "") {
            toastr.error('Menü tipi adı boş bırakılamaz');
             return;
         }

         var data = new FormData();
         data.append('menuTypeName', Name);

         jQuery.ajax({
            url: '@Url.Action("CreateMenuType","Branch")',
            data: data,
            cache: false,
            contentType: false,
            processData: false,
            method: 'POST',
            type: 'POST', // For jQuery < 1.9
            complete: function (xhr) {
                if (xhr.status === 200) {
                    toastr.options.onHidden = function () { window.location.reload(); };
                    $('#modal-create-menutype').modal('toggle');
                    toastr.success(xhr.responseText);
                }
            },
            error: function (xhr) {
                if (xhr.status === 400) {
                    toastr.error(xhr.responseText);
                }
            }
        });
    }

</script>